*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",Tahoma;
    }
    
    body{
    background:#0f172a;
    color:#e5e7eb;
    transition:0.4s;
    }
    
    body.light{
    background:#f4f4f4;
    color:#111;
    }
    
    .toggle{
    position:fixed;
    top:20px;
    left:20px;
    font-size:22px;
    cursor:pointer;
    z-index:999;
    }
    
    /* HEADER */
    header{
    text-align:center;
    padding:70px 20px;
    background:linear-gradient(135deg,#020617,#0f172a,#020617);
    border-radius:0 0 40px 40px;
    }
    
    .logo{
    font-size:3rem;
    }
    
    .glow{
    color:#38bdf8;
    text-shadow:0 0 15px #38bdf8;
    animation:glow 2s infinite alternate;
    }
    
    @keyframes glow{
    from{ text-shadow:0 0 10px #38bdf8;}
    to{ text-shadow:0 0 30px #38bdf8;}
    }
    
    header p{
    margin-top:15px;
    font-size:1.1rem;
    }
    
    /* NAV */
    nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:12px;
    margin:30px 0;
    }
    
    nav a{
    text-decoration:none;
    color:#e5e7eb;
    padding:10px 20px;
    border-radius:25px;
    background:rgba(255,255,255,0.08);
    transition:0.3s;
    }
    
    nav a:hover{
    background:#38bdf8;
    color:#020617;
    transform:scale(1.08);
    }
    
    /* CONTENT */
    section{
    max-width:1100px;
    margin:auto;
    padding:40px 20px;
    animation:fadeUp 1s ease;
    }
    
    h2{
    color:#38bdf8;
    margin-bottom:20px;
    font-size:2rem;
    }
    
    h3{
    margin-top:20px;
    color:#7dd3fc;
    }
    
    p,li{
    margin-top:8px;
    line-height:1.8;
    }
    
    ul{
    list-style:none;
    }
    
    ul li{
    background:rgba(56,189,248,0.08);
    padding:12px;
    margin-bottom:10px;
    border-radius:12px;
    transition:0.3s;
    }
    
    ul li:hover{
    background:#38bdf8;
    color:#020617;
    }
    
    /* INPUTS */
    input,textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:10px;
    border:none;
    background:rgba(255,255,255,0.1);
    color:#fff;
    }
    
    button{
    margin-top:15px;
    padding:10px 25px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    color:#020617;
    font-weight:bold;
    cursor:pointer;
    }
    
    button:hover{
    background:#0ea5e9;
    }
    
    /* FOOTER */
    footer{
    text-align:center;
    padding:20px;
    margin-top:50px;
    background:#020617;
    border-radius:40px 40px 0 0;
    }
    
    /* ANIMATION */
    @keyframes fadeUp{
    from{opacity:0;transform:translateY(30px);}
    to{opacity:1;transform:translateY(0);}
    }